.vscode/tasks.json
chapter 2/homework_15.exe
chapter 2/homework_14.exe
chapter 3/Jacobi.exe
chapter 3/jacobi_test.exe
Pgauss.c
.vscode/launch.json
Pgauss.exe
chapter 3/TEST.exe
chapter 3/Gauss_seidel_test.exe
.vscode/settings.json
chapter 4/normal_equations_for_least_squares.exe
chapter 4/QR_Householder.exe
chapter 4/Householder.exe
chapter 5/Eigenvalues_power_iteration.exe
chapter 5/1032_乘幂法.c
